





# Secrets : il faut le mettre dans le gitignore une fois mis en prod
.env
.env.example
.env.notarize

# Build artifacts
dist/
build/
backend/dist/
backend/build/
frontend/out/
frontend/.webpack/
frontend/backend/

# Temporary files
*.log
/tmp/erudi-backend.log

.DS_Store
Thumbs.db