fastapi==0.115.12
uvicorn==0.34.0
sqlalchemy==2.0.40
numpy==1.26.4
torch==2.2.2+cu121
--extra-index-url https://download.pytorch.org/whl/cu121
transformers
protobuf
sentencepiece
accelerate
datetime
bitsandbytes --prefer-binary --extra-index-url https://jllllll.github.io/bitsandbytes-windows-webui
huggingface_hub
psutil
py-cpuinfo
gputil
pydantic
faiss-cpu
sentence-transformers
jinja2