@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #10b98170;
  border-radius: 9999px;
  height: 10%; /* Only works in some browsers */
  margin: 20px 0; /* Adds space on top and bottom */
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #10b98141 #1f29372a;
}

/* Hide scrollbar for horizontal scrolling sections */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
